<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/vue.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=320,minimum-scale=1.0,maximum-scale=4.0,user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
   
    <div id="app">
    
        <header>
            <div class="option">
                <img src="img/icon/icon_more_horiz.png">
            </div>
            <div class="shop">
                <div id="avatar" class="avatar">
                    <img id="avaimg" src="img/icon/icon_default.png">
                </div>
                <div id='shop_info' class="info">
                    <div class="name">{{ shop_name }}</div>
                    <div class="comment">SHOP 정보보기</div>
                </div>
            </div>
        </header>


        <main>
                
            <section class="screen_board">
                <ul>
                    <li class="total_board">
                        <div class="title">주문합계</div>
                        <div class="content"><span class="total">{{ total_order }}</span><span class="total_orders">orders</span></div>
                    </li>
                </ul>
            </section>

            <section class="date_board">
                <div class="title">기간 Duration</div>
                <ul>
                    <li class="shadow">
                        <span class="label">시작일</span>
                        <span class="start_date">{{ start_date }}</span>
                        
                    </li>
                    <li class="shadow">
                        <span class="label">종료일</span>
                        <span class="end_date">{{ end_date }}</span>
                    </li>
                </ul>
            </section>


            <section class="list_board">
                <div class="title">주문 Orders</div>
                <ul>
                    <a v-for="order in orders" v-bind:href="'./orders.html?pid=' + order.pid">
                        <li v-bind:class="order.state_class" class="shadow">
                            <span class="state">{{ order.state_name }}</span>
                            <span class="date">{{ order.REGDATE}}</span>
                        </li>
                    </a>
                </ul>
            </section>

        </main>


        <footer>
            <nav>
                <ul>
                    <li class="nav_list"><a href="index.html"><img src="img/icon/icon_home.png"></a></li>
                    <li class="nav_orders"><a href="orders.html"><img src="img/icon/icon_description.png"></a></li>
                    <li class="nav_stats"><a href="chart.html"><img src="img/icon/icon_chart.png"></a></li>
                    <li class="nav_mypage"><a href="config.html"><img src="img/icon/icon_settings.png"></a></li>
                </ul>
            </nav>
        </footer>



        <!-- filter -->
        <div id="filter" style="display: none;">
            <div class="box">
                <section class="fil_head">
                    <div class="title">FILTER</div>
                </section>
                <section class="date_option">
                    <div class="selector">
                        <input type="date" id="sdate" v-model="start_date" value="2020-01-01"><span>-</span><input type="date" id="edate" v-model="end_date">
                    </div>

                    <div class="shortcuts">
                        <table>
                            <tr>
                                <td><a>오늘</a></td>
                                <td><a>어제</a></td>
                                <td><a>이번주</a></td>
                            </tr>
                            <tr>
                                <td>최근7일</td>
                                <td>이번달</td>
                                <td>지난달</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section class="state_option">
                    <table>
                        <tr>
                            <td class="normal"><a>대기</a></td>
                            <td class="fail"><a>거절</a></td>
                            <td class="success"><a>결재</a></td>
                        </tr>
                    </table>
                </section>
                <section class="confirm">
                    <div class="apply">닫기</div>
                </section>
            </div>
        </div>

    </div>

    <script>
        /* date */
        var initDate = new Date();
        var todayYear = initDate.getFullYear();
        var todayMonth = ("0" + (initDate.getMonth() + 1)).slice(-2);
        var todayDate = ("0" + (initDate.getDate())).slice(-2);
        var today = todayYear + "-" + todayMonth + "-" + todayDate;
        var firstMonthday = todayYear + "-" + todayMonth + "-01"

        /* data */
        let currentUser = { shopname: "로또리치" }
        let selectedOrders = [
            { pid: "1", state_name: "대기", state_class: "normal", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "2", state_name: "거절", state_class: "fail", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "3", state_name: "완료", state_class: "success", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "4", state_name: "재통화", state_class: "normal", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "5", state_name: "재통화", state_class: "normal", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "6", state_name: "완료", state_class: "success", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "1", state_name: "대기", state_class: "normal", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "2", state_name: "거절", state_class: "fail", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "3", state_name: "완료", state_class: "success", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "4", state_name: "재통화", state_class: "normal", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "5", state_name: "재통화", state_class: "normal", REGDATE: "2020-03-26, 16:34:23" },
            { pid: "6", state_name: "완료", state_class: "success", REGDATE: "2020-03-26, 16:34:23" }
        ];



        /* VUE instances*/

        new Vue({
            el: 'header',
            data: {
                shop_name: currentUser.shopname
            }
        })

        new Vue({
            el: '.date_board',
            data: {
                start_date: firstMonthday,
                end_date: today
            }
        })

        new Vue({
            el: '.total_board',
            data: {
                total_order: selectedOrders.length
            }
        })

        new Vue({
            el: '.list_board',
            data: {
                orders: selectedOrders
            }
        })

        $('.option').on('click', function () {
            $('#filter').fadeIn();
        })

        $('.apply').on('click', function () {
            $('#filter').fadeOut();
        })

        var avaoff = document.getElementById('avaimg');
        var posY = avaoff.offsetTop;
        var lastScrollTop = 0;

        $(window).scroll(function (event) {
            var st = $(this).scrollTop();
            if (st > lastScrollTop) {
                $('#avaimg').css('width', '-=1px');
                $('#avaimg').css('height', '-=1px');
                $('#shop_info').css('opacity', '-=0.1');
            } else {
                if (window.pageYOffset + 8 >= posY) {
                    return false;
                } else {
                    $('#avaimg').css('width', '+=1px');
                    $('#avaimg').css('height', '+=1px');
                    $('#shop_info').css('opacity', '+=0.1');
                };
            }
            lastScrollTop = st;
        });

        $(window).scroll(function () {
            addsticky();
        });


        function addsticky() {
            if (window.pageYOffset + 8 >= posY) {
                $('#avatar').addClass('sticky');
                $('#shop_info').hide();
            } else {
                $('#avatar').removeClass('sticky');
                $('#shop_info').show();
            }
        }
    </script>
</body>

</html>