/* COMMON */

html, body, div, ul, ol, li {margin: 0; padding: 0; font-size: 12px;}
a, a:hover, a:link, a:visited, a:focus {text-decoration: none; color: inherit;}
ul {list-style: none;}

.shadow {box-shadow: 8px 8px 8px rgba(0,0,0,0.03), -8px -8px 8px rgba(0,0,0,0.03), -8px 8px 8px rgba(0,0,0,0.03), 8px 8px 8px rgba(0,0,0,0.03);}
.sticky {position: fixed; top:0; padding-top: 8px; transition: top 0.2s ease-in-out;} 


/* loading */
#loading {width: 100vw; height: 100vh; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; z-index: 9999; position: fixed;}
#loading img {width: 100px; height: 100px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer nav ul {display: flex; width: 320px; height: 48px; position: fixed; bottom: 0; justify-content: space-around; align-items: center; background-color: white; border-top: 1px solid #eeeeee;}
footer nav ul li {font-size: 18px;}
footer nav ul li img {width: 25px; height: 25px;}

/* app */
#app {margin: 0 auto; width: 100vw; height: 100vh; width: 320px; background-color: rgba(0, 0, 0, 0.01);}