/* COMMON */

html, body, div, ul, ol, li {margin: 0; padding: 0; font-size: 12px;}
a, a:hover, a:link, a:visited, a:focus {text-decoration: none; color: inherit;}
ul {list-style: none;}

.shadow {box-shadow: 8px 8px 8px rgba(0,0,0,0.03), -8px -8px 8px rgba(0,0,0,0.03), -8px 8px 8px rgba(0,0,0,0.03), 8px 8px 8px rgba(0,0,0,0.03);}
.sticky {position: fixed; top:0; padding-top: 8px; transition: top 0.2s ease-in-out;} 


/* loading */
#loading {width: 100vw; height: 100vh; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; z-index: 9999; position: fixed;}
#loading img {width: 100px; height: 100px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* app */
#app {margin: 0 auto; width: 100vw; height: 100vh; width: 320px; background-color: rgba(0, 0, 0, 0.01);}

/* page - index */
header {width: 320px; background-color: white; position: relative;}
header .avatar img {width: 40px; height: 40px; min-width: 30px; min-height: 30px; max-width: 40px; max-height: 40px;}
header .shop {font-weight: 700; padding-left: 14px; font-size: 14px; padding-top: 44px; display: flex; justify-content: flex-start; align-items: center; position: sticky;}
header .shop .info {padding-left: 4px; height: 40px; display: flex; flex-direction: column; justify-content: center; opacity: 1;}
header .shop .info .name {font-weight: 900;}
header .shop .info .comment {font-size: 8px; color: #aaaaaa;}
header .option {width: 320px; height: 44px; text-align: right; background-color: white; position: fixed; top: 0; left: 0;}
header .option img {width:25px; height: 25px; padding: 8px;}



main {padding-top: 0px;}

main .screen_board {padding: 8px;}
main .screen_board .total_board {font-weight: 700; border-radius: 5px; background-color: turquoise; padding: 16px;}
main .screen_board .total_board .content {display: flex; justify-content: flex-end; align-items: baseline;}
main .screen_board .total_board .total {font-size: 24px; font-weight: 900; padding-top: 8px;}
main .screen_board .total_board .total_orders{font-size: 18px; font-weight: 900; margin-left: 4px;}

main .date_board {padding: 8px; font-weight: 700;}
main .date_board .title {padding: 8px; color: #cccccc;}
main .date_board ul li {border-radius: 5px; background-color: white; color: black; padding: 16px; display: flex; justify-content: space-between; margin-bottom: 8px;}
main .date_board ul li .start_date, main .date_board ul li .end_date {color: #aaaaaa;}

main .list_board {padding: 8px; padding-bottom: 50px; font-weight: 700;}
main .list_board .title {padding: 8px; color: #cccccc;}
main .list_board ul li {border-radius: 5px; background-color: white; color: black; padding: 16px; display: flex; justify-content: space-between; margin-bottom: 8px;}
main .list_board ul li.fail .state {color: tomato;}
main .list_board ul li.success .state {color: turquoise;}
main .list_board ul li .state {font-weight: 700;}
main .list_board ul li .date {color: #aaaaaa;}

footer nav ul {display: flex; width: 320px; height: 48px; position: fixed; bottom: 0; justify-content: space-around; align-items: center; background-color: white; border-top: 1px solid #eeeeee;}
footer nav ul li {font-size: 18px;}
footer nav ul li img {width: 25px; height: 25px;}

/* filter */
#filter {position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5); z-index: 2;}
#filter .box {position: fixed; bottom:0; left: 0; background-color:white; width: 100vw; height: 75vh; border-top-left-radius: 15px; border-top-right-radius: 15px; overflow-y: auto;}
#filter .filter_head {padding: 16px; display: flex; justify-content: space-between; align-items: center;}
#filter .filter_head .title {font-weight: 900;}
#filter .filter_head .close img {width: 20px; height: 20px;}

#filter .state_option ul li .container {background-color: white; color: black; padding: 16px; display: flex; justify-content: space-between; position: relative;}
#filter .state_option ul li .container .statename {font-weight: 900;}
#filter .state_option ul li .container input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
#filter .state_option ul li .container .checkmark {position: absolute; top: 18px; right: 16px; height: 10px; width: 10px; background-color: none; border-radius: 50%;}
#filter .state_option ul li .container .checkmark::after {content: ""; position: absolute; display: none;}
#filter .state_option ul li .container input:checked ~ .checkmark {background-color: #aaaaaa;}
#filter .state_option ul li .container input:checked ~ .statename {color: tomato;}

/* page - order */

#header2 {width: 320px; position: relative;}
#header2 .title {width: 320px; height: 44px; background-color: white; position: fixed; top: 0; left: 0; display: flex; justify-content: flex-start; align-items: center;}
#header2 .title .icons img {width: 20px; height: 20px; padding-left: 8px; display: block;}
#header2 .title .titlename {margin-left: 8px; font-weight: 900;}