/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

a:hover,
a:link,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

html,
body,
#main,
main {
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

#app {
    margin: 0 auto;
    max-width: 100vw;
    height: 100vh;
    background-color: #e5e5e5
}

/* login */


#login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: lightgrey;
}



#login .login-box {
    width: 400px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px 15px 0 0;
    background-color: black;
}


#login .submit {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: center;
    border: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.8rem;
    border-radius: 0 0 15px 15px;
}

#login .submit:hover {
    background-color: #4b4b4b;
    cursor: pointer;
}


#login .login-box .login-label {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100px;
}


#login .login-box .login-label .logo-box img {
    display: block;
}

#login .login-box .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    padding: 15px;
}

#login .login-box .login-form .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#login .login-box .login-form .input-box input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
}