/* common */
*{
    box-sizing: border-box;
    font-family: 'Manjari', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

a:hover,
a:link,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

html,
body,
#main,
main {
    width: 100%;
    height: 100%;
    font-family: 'Manjari', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

#app {
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
}

/* custom rules */

.btn-ready {
    display: none;
    color: white;
    background-color: black;
}

.btn-new {
    display: none;
    background-color: lightblue;
}

.btn-wrong {
    display: none;
    background-color: orange;
}

.btn-missed {
    display: none;
    border: 1px solid lightgray;
}

.btn-discord {
    display: none;
    background-color:violet;

}

.btn-refuse {
    display: none;
    color:white;
    background-color:red;
}

.btn-success {
    display: none;
    background-color:gold;
}

.btn-chance {
    display: none;
    background-color:cyan;
}

.btn-dump {
    display: none;
    color: white;
    background-color:grey;
}

.tocar {
    border: 1px solid white;
    border-radius: 5%;
    font-family: 'Manjari', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}


/* login */


#login {
    width: 100vw;
    height: 100vh;
}
 
#login .box {
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.9);
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -250px;
    padding: 50px;
}

/* PAGE */
* {
    margin: 0;
    padding: 0;
}

#top {
    width: 100%;
    height: 60px;
    background-color: black;
}

#below-top {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
}

#aside {
    width: 70px;
    height: 100%;
    ;
    background-color: #555;
}


#top .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#top .nav-container .user-container {
    z-index: 2;
    background-color: black;
}

#top .nav-container .user-container:hover {
    cursor: pointer;
}

#top .nav-container button {
    background-color: transparent;
    border: none;
}

#top .nav-container .dot {
    color: black;
}

#top .nav-container .selected .user-box .user .selected {
    color: white;
}

#top .nav-container .user-container li:hover .dot {
    display: block;
    color: #555;
}

#top .user-box {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    border-right: 1px solid #4b4b4b;
}

#top .user-box .avatar {
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top .user-box .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#top .user-box .avatar .good {
    background-color: lightblue;
}

#top .user-box .avatar .bad {
    background-color: red;
}

#top .user-box .user {
    width: 300px;
    color: #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top .user-box .user span {
    margin: 0 30px;
}

#top .logo-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
}

#top .logo-top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

#top .user-setting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 60px;
}

#top .user-setting .set-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    border-left: 1px solid #4b4b4b;
}

#top .user-setting .set-box .i-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#aside aside i {
    font-weight: bolder;
    font-size: 1.5rem;

}

#aside aside {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#aside aside .aside-box,
#aside aside .aside-box a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: white;
}
#aside aside .aside-box span,
#aside aside .aside-box a span {
    font-size: 0.7rem;
    margin-top: 4px;
}

#aside aside .active {
    background-color: #e5e5e5;
    color: black !important;
}


/* EVENT */

main .main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 70px;
    border-bottom: 1px solid #eeeeee;
}


main .main-top .title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 100%;
}


main .main-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}


/* main-left */

main .main-body .main-left {
    display:none;
    height: 100%;
}

main .main-body .active{
    display: block;

}

main .main-body .main-left .option-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 100%;
}


main .main-body .main-left .option-box .option-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 0.8rem;
    border-bottom: 1px solid #eeeeee;
    background-color: lightblue;

}

main .main-body .main-left .option-box .option-header .option-header-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
}

main .main-body .main-left .option-box .option-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
}

main .main-body .main-left .option-box .option-body .option-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

main .main-body .main-left .option-box .option-body .option-element>* {
    margin: 0 10px;
}

main .main-body .main-left .option-box .option-body .option-element>*:nth-child(2) {
    width: 100px;
}

main .main-body .main-left .option-box .option-footer {
    width: 100%;
    height: 100%;
}

main .main-body .main-left .option-box .option-footer .option-footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

main .main-body .main-left .option-box .option-footer .option-footer-box .option-btn {
    width: 100px;
    padding: 5px 10px;
}

main .main-body .main-left .option-box .option-footer .option-footer-box .option-btn:hover {
    border: 2px solid lightblue;

}

main .main-body .main-left .option-box .option-footer .option-footer-box .apply {
    border: 1px solid lightblue;
    background-color: lightblue;
}

main .main-body .main-left .option-box .option-footer .option-footer-box .reset {
    color :white;
    background-color: darkgrey;
}



/* main-center */

main .main-body .main-center {
    width: 100%;

}

main .main-body .main-center .event-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

main .main-body .main-center .event-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}


main .main-body .main-center .event-box .event-header .event-header-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
    height: 70px;
    font-size: 0.8rem;
    padding-bottom: 10px;
}



main .main-body .main-center .event-box .event-header .mod-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    margin: 0 20px;
    font-size: 1.3rem;

}

main .main-body .main-center .event-box .event-header .mod-box div {
    margin: 0px 0px 5px 10px;
}

main .main-body .main-center .event-box .event-header .mod-box .mod-excel {
    color: green;
}

main .main-body .main-center .event-box .event-header .mod-box .mod-shrink-all {
    color: #ed5c5c;
}

main .main-body .main-center .event-box .event-header .event-header-right .save-excel:hover {
    background-color: darkgreen;
}

main .main-body .main-center .event-box .event-header .event-header-box .header-element span {
    margin-left : 10px;
}

main .main-body .main-center .event-box .event-header .event-header-box .header-element .default {
    color:green;
}

main .main-body .main-center .event-box .event-header .event-header-box .header-element .error {
    color:#ed5c5c;
}


main .main-body .main-center .event-box .event-body .event-element {
    margin-bottom: 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 70px;
    font-size: 0.8rem;
    border-bottom: 1px solid lightgray;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 100%;
    border-right: 1px solid lightgrey;
    padding-top: 5px;
    background-color: white;
}


main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header span {
    margin-left: 5px;
}


main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header .ev-stat {
    display: none;
    width: 90%;
    color: white;
    border-radius: 10%/50%;
    text-align: left;
    padding: 5px;
    font-size: 0.6rem;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header .error {
    background-color: #ed5c5c;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header .default {
    background-color:green;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header .active {
    display: block;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-header .ev-chname {
    font-size: 0.6rem;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    padding: 5px;
    background-color: white;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-body .data-row1 {
    font-size: 1rem;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-body .data-row1 span::after {
    content: " / ";
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-body .data-row1 span:last-child::after,
main .main-body .main-center .event-box .event-body .event-element .event-summary .element-body .data-row2 span:last-child::after {
    content: "";
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-body .data-row2 span::after {
    content: ", ";
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 0 10px;
    background-color: white;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-start;
}


main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat .ev-result-title .title-btn {
    text-align: center;
    width: 80px;
    padding:2px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat .ev-result-title .active {
    display: block;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat .ev-result-reset {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat .ev-result-reset > div {
    margin: 0 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat .ev-result-reset > div > select {
    font-size: 0.8rem;
    width : 80px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-stat .ev-result-reset > div > button {
    background-color: lightgrey;
    width : 80px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-detail {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-detail .manager {
    display: none;
    margin-right: 10px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-detail .valid-date {
    display: none;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-detail .valid-date .alert {
    color: red;
    font-weight: bolder;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-detail .warning {
    color : red;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result .ev-result-detail .active {
    display: block;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-footer .ev-result-comment input {
    width: 100%;
    height: 20px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail {
    border-left: 1px solid lightgrey;
    width: 220px;
    height: 100%;
    background-color: white;

}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .item {
    width: 33%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .item .itembtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .item .itembtn .statbtn {
    line-height: 18px;
}



main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .item .itembtn .statbtn i {
    font-size: 1.3rem;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .item .itembtn .statbtn span {
    font-size: 0.8rem;
}


main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .on {
    display: none;
    color : black;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .off {
    display: none;
    color : red;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .suc {
    display: none;
    color : green;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .hold {
    display: none;
    color : lightgray;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .back {
    display: none;
    color : blue;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .delete {
    display: none;
    color:red;
}

main .main-body .main-center .event-box .event-body .event-element .event-summary .element-tail .tail-box .active {
    display: block;
}


/* event-expand */

main .main-body .main-center .event-box .event-body .event-element .event-expand {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 5px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}


main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 100%;
    padding-top: 10px;
       
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-header .ev-id {
    width: 100%;
    font-size:0.6rem;
    color: grey;
    text-align: center;
    margin-bottom: 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    padding: 10px 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-body .event-detail-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-body .event-detail-row .label {
    text-align: center;
    color:#555;
    background-color: lightgray;
    width: 15%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-body .event-detail-row .data {
    width: 85%;
    padding-left:5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    padding: 10px;
    
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign,
main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .item-box {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    margin-bottom: 3px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .item,
main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .item-box .item {
    margin-right: 8px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .assign-date,
main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .item-box .result-date {
    width: 125px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .result-msg {
    color: grey;
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .assign-name,
main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .item-box .result-name {
    width: 40px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .result-name::after {
    clear: both;
    content: "";
    display: table;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .assign-kind,
main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .result .result-kind {
    text-align: center;
    width: 80px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .kind-option {
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .kind-new {
    display: none;
    background-color: lightblue;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .kind-re {
    display: none;
    background-color: orange;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .kind-select {
    display: none;
    background-color: violet;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .kind-point {
    display: none;
    background-color: red;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-history .assign .active {
    display: block;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add {
    padding: 5px 0;
    width: 100%;
    border-top: 1px solid lightgrey;
}



main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-select {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-select #result-opt {
    font-size:0.7rem;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-title {
    width : 73px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-notice {
    padding-left: 10px;
    color:gray;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-msg-input {
    margin-top: 10px;
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-msg-input textarea {
    font-size: 0.8rem;
    padding: 5px;
    border: 1px solid lightblue;
    width: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-send {
    width: 100%;
    text-align: right;
    padding-top: 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .result-add form .result-send button {
    padding: 5px 10px;
    font-size: 0.8rem;
    width : 100px;
    background-color: lightblue;
    font-family: 'Manjari', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-footer .active {
    display: block;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail {

    width: 220px;
    height: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.7rem;
    padding: 10px 5px;
    width: 100%;
    margin-bottom: 5px;
    height: 100%;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .off-history {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .item {
    margin-bottom: 5px;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .off-return .title {
    color: blue;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .off-done .title {
    color: red;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .input textarea {
    border: none;
    font-size: 0.7rem;
    width: 100%;
    border: 1px solid lightblue;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .btn {
    text-align: center;
}

main .main-body .main-center .event-box .event-body .event-element .event-expand .expand-tail .control-box .btn button {
    padding : 2px 5px;
    margin: 0px 5px;
    background-color: lightblue;
    width: 30%;
    font-size:0.7rem;
    border: none;
}




main .main-body .main-center .event-box .event-body .event-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-size: 0.8rem;
    color:black;
}


main .main-body .main-right {
    width: 350px;
}
/* STATS */

/* CONFIG */


/* toggle */


.none {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
}

.masked {
    color:red;
    background-color: red;
}

.masked::after {
    content: "MASKED";
    color:white;
}


.rotate {
    transform: rotate(180deg);
}
